

<div class="row">

  <div class="span8 offset1">
    
    <%= @orders.first.updated_at.to_datetime %>
    <h2>Welcome to Charitizer!</h2>

    <h2>Rules</h2>
    <%= ShopifyAPI::Shop.current.email %>
    <table class="table table-striped">
      <% if @rules.count == 0 %>
        <tr>
          <td><em>You don't have any rules.</em></td>
        </tr>
      <% else %>
                  <thead>
            <tr>
              <th>Rule Name</th>
              <th>Charity Link</th>
              <th>Raised</th>
            </tr>
          </thead>

          <tbody>
            <% @rules.each do |rule| %>
              <tr>
                <td><%= rule.name %></td>

                <td>
                  <%= rule.link %>
                </td>


                <td>$<%= rule.raised %></td>


             <!--   <td><%= link_to 'Show', rule %></td> -->
              </tr>
            <% end %>
          </tbody>

      <% end %>
    </table>

  <div style="float:right">
   <a class="btn" type="submit" href="/create">Create</a>
   <a class="btn" type="submit" href="/view">Edit</a>
 </div>
<!--
    <h2>Total Raised</h2>



        <table class="table table-striped">
            <thead>
            <tr>
              <th>Today</th>
              <th>This Week</th>
              <th>This month</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
    </table>
-->

 <div style="float:right">
   <a class="btn" type="submit" href="/payments">View payments</a>
 </div>


<!--
    <canvas id="myChart" width="650" height="300"></canvas>
-->
    
  </div> <!-- span8 / right-column -->
</div>