<style>
select {
    width: 170px;
}


</style>
<%= form_for(@rule) do |f| %>


  <fieldset>
      <% if @rule.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@rule.errors.count, "error") %> prohibited this rule from being saved:</h2>

          <ul>
          <% @rule.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
   <div class="control-group">  
      <div class="controls">
        <label class="inline_label heading">Basic Info</label>
</div>
    </div>

    <div class="control-group">  
      <div class="controls">
          <%= f.label "Name of Rule: " %>
          <%= f.text_field :name %><br />
      </div>
    </div>

        <div class="control-group">  
      <div class="controls">
          <%= f.label "Link to charity:" %>
          <%= f.text_field :link %><br />
      </div>
    </div>
            <div class="control-group">  
      <div class="controls">
        <label class="inline_label heading">Choose products, collections, or tags to set donations on</label>
</div>
    </div>
<!--    
<select id="product_ids" multiple="multiple" name="product_ids[]"></select>
-->

    <label class="inline_label">Filter products by collection Choose products</label>

<label class="inline_label" style="margin-left:105px;">Products you've chosen</label>
<br>

<select id="collection_filter_invisible" style="display:none" multiple="multiple">
     <% for c in @collections %>
<% for p in c.products %>
          <option id="filter_product" style="display:none" name=<%=p.id %> class=<%=c.id%>>
            <%= p.title %>
          </option> 
        <% end %>
      <% end %>
      
  <% for p in @products %>
        <option id="default_product" style="display:none" name=<%= p.id %>>
          <%= p.title%>
        </option>
      <% end %>

</select>

<select id="collection_filter" multiple="multiple">


<% if !@collections.first.nil? %>
   <option id="collection_show_all">Show All</option>
   <% for c in @collections %>
      <option name=<%=c.id %>><%= c.title %>
      </option> 
      
   <% end %>
<% else %>
  <option name="all">Show All</option>


<% end %>

</select>

         
    <select id="product_first_list" multiple="multiple">



    </select>
<!--
  <input id="tofirst" type="button" name="tofirst" title='unassign' value="<" />
-->
  <input id="tosecond" type="button" name="tosecond" title='assign' value="Add" />


  <select id="product_second_list" multiple="multiple" name="product_ids[]">
  <% if !@selected_products.nil? %>
  <% for p in @selected_products %>
      <option selected="selected" value=<%=p.id %>><%= p.title %>
      </option> 
   <% end %>
   <% end %>

  </select>




<br>

    
  <label class="inline_label">Choose Collections
  </label>

  <label class="inline_label" style="margin-left:95px;">
    Collections you've chosen
  </label>
  <br>

  <select id="collection_first_list" multiple="multiple">
   <% for c in @collections %>
      <option name=<%=c.id %>><%= c.title %>
      </option> 
   <% end %>
  </select>
  <!--
  <input id="tofirstcol" type="button" name="tofirst" title='unassign' value="<" />
-->
  <input id="tosecondcol" type="button" name="tosecond" title='assign' value="Add" />
  <select id="collection_second_list" multiple="multiple" name="collection_ids[]">
  <% if !@selected_collections.nil? %>
 <% for c in @selected_collections %>
      <option selected="selected" value=<%=c.id %>><%= c.title %>
      </option> 
   <% end %>
  <% end %>

  </select>


<br>



 <label class="inline_label">Choose Tags
  </label>

  <label class="inline_label" style="margin-left:95px;">
    Tags you've chosen
  </label>
  <br>
  <select id="tag_first_list" multiple="multiple">
  <% if !@tags.nil? %>
   <% for t in @tags %>
      <option name=<%=t %>><%= t %>
      </option> 
   <% end %>
  <% end %>

  </select>
  <!--
  <input id="tofirstcol" type="button" name="tofirst" title='unassign' value="<" />
-->
  <input id="tosecondtag" type="button" name="tosecond" title='assign' value="Add" />
  <select id="tag_second_list" multiple="multiple" name="tags[]">


 <% if !@rule.tags.nil? %>
 <% for t in @rule.tags %>
      <option selected="selected" value=<%= t %>><%= t %>
      </option> 
   <% end %>
  <% end %>

  </select>


    <div class="control-group">
            <label class="control-label">Donation Rules</label>


      <div class="controls">
        <label class="inline_label heading">Amount</label>
</div>


            <div class="controls">
              <label class="radio inline">
               
                  <%= f.radio_button 'by_percentage', true  %> 
                  Percentage
              </label>
              <label class="radio inline">
                  <%= f.radio_button 'by_percentage', false  %> 
                  Fixed Amount
              </label>
            </div>
          </div>

    <div class="control-group">  
      <div class="controls" style="float:left">
          <div class="sign">
           %
          </div>

          <%= f.text_field :per_product %><br />
          <%= f.label "per product" %>
      
      </div>
      <div class="controls" style="float:left;margin-left:10px;height:20px;padding-top:5px;">
        OR
      </div>
      <div class="controls" style="margin-left:20px;display:block">
           <div class="sign">
           %
          </div><%= f.text_field :per_order %><br />
          <%= f.label "per order" %>
      </div>
    </div>

  
<div style="width:100%"></div>
  
   <div class="control-group">  
      <div class="controls">
        <label class="inline_label heading">Timeframe</label>
</div>
    </div>
    
 <div class="control-group">  
      <div class="controls">
      <label class="checkbox inline">
      <%= f.check_box :permanent %>
      Permanent?
       </label>
     </div>
    </div>


 <div class="control-group">  
      <div class="controls">
      <%= f.label "starting_date" %>
      <%= f.date_select :starting_date, :order => [:day, :month, :year] %>
     </div>
    </div>

     <div class="control-group">  
      <div class="controls">
    <%= f.label "ending_date" %>
    <%= f.date_select :ending_date, :order => [:day, :month, :year] %>
     </div>
    </div>
<div class="control-group">  
      <div class="controls">
        <label class="inline_label heading">
</label>
</div>

    </div>


<br>

      <div class="actions">
        <%= f.submit %>
      </div>
    
  </fieldset>
<% end %>
