<%= form_for(@rule) do |f| %>


  <fieldset>
      <% if @rule.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@rule.errors.count, "error") %> prohibited this rule from being saved:</h2>

          <ul>
          <% @rule.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

    <div class="control-group">  
      <div class="controls">
          <%= f.label "Name of Rule: " %>
          <%= f.text_field :name %><br />
      </div>
    </div>
<<<<<<< HEAD
    <div class="control-group">  
      <div class="controls">
         <div class="control-group">
            <label class="control-label" for="multiSelect">Choose products to donate on</label>
            <div class="controls">
            <%= select_tag :product_ids, options_for_select(@products.collect {|c| [ c.title, c.id ] }),{:multiple => true} %>
            </div>
          </div>
      </div>
    </div>
=======

>>>>>>> parent of 2663d81... update form


    <div class="control-group">
            <label class="control-label">Donation Rules</label>
            <div class="controls">
              <label class="radio">
               
                  <%= f.radio_button 'by_percentage', true  %> 
                  Percentage
              </label>
              <label class="radio">
                  <%= f.radio_button 'by_percentage', false  %> 
                  Fixed Amount
              </label>
            </div>
          </div>

    <div class="control-group">  
      <div class="controls">
          <%= f.text_field :per_product %><br />
          <%= f.label "per product" %>
      </div>
    </div>

  OR

  <div class="control-group">  
      <div class="controls">
          <%= f.text_field :per_order %><br />
          <%= f.label "per order" %>
      </div>
    </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    
  </fieldset>
<% end %>
