<%= form_for(@rule) do |f| %>


  <fieldset>
      <% if @rule.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@rule.errors.count, "error") %> prohibited this rule from being saved:</h2>

          <ul>
          <% @rule.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

    <div class="control-group">  
      <div class="controls">
          <%= f.label "Name of Rule: " %>
          <%= f.text_field :name %><br />
      </div>
    </div>
<!--    
<select id="product_ids" multiple="multiple" name="product_ids[]"></select>
-->
<!--
            <%= select_tag :product_ids, options_for_select(@products.collect {|c| [ c.title, c.id ] }),{:multiple => true} %>
-->
          
          <%= f.label "Choose Products " %>

   <%= f.label "Filter products by collection" %>

<select id="collection_filter" multiple="multiple">


<% if !@collections.first.nil? %>
   <option name="all">Show All</option>
   <% for c in @collections %>
      <option name=<%=c.id %>><%= c.title %>
      </option> 
        <% for p in c.products %>
          <option style="display:none" name=<%=p.id %> class=<%=c.id%>>
            <%= p.title %>
          </option> 
        <% end %>
   <% end %>
<% else %>
  <option name="all">Show All</option>


<% end %>

</select>

         
    <select id="product_first_list" multiple="multiple">



    </select>

  <input id="tofirst" type="button" name="tofirst" title='unassign' value="<" />
  <input id="tosecond" type="button" name="tosecond" title='assign' value=">" />


  <select id="product_second_list" multiple="multiple"></select>




    
  <%= f.label "Choose Collections " %>

  <select id="collection_first_list" multiple="multiple">
  <option value="1">1</option>
  <option value="2">2</option>
  </select>
  <input id="tofirstcol" type="button" name="tofirst" title='unassign' value="<" />
  <input id="tosecondcol" type="button" name="tosecond" title='assign' value=">" />
  <select id="collection_second_list" multiple="multiple"></select>



    <div class="control-group">
            <label class="control-label">Donation Rules</label>
            <div class="controls">
              <label class="radio">
               
                  <%= f.radio_button 'by_percentage', true  %> 
                  Percentage
              </label>
              <label class="radio">
                  <%= f.radio_button 'by_percentage', false  %> 
                  Fixed Amount
              </label>
            </div>
          </div>

    <div class="control-group">  
      <div class="controls">
          <%= f.text_field :per_product %><br />
          <%= f.label "per product" %>
      </div>
    </div>

  OR

  <div class="control-group">  
      <div class="controls">
          <%= f.text_field :per_order %><br />
          <%= f.label "per order" %>
      </div>
    </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    
  </fieldset>
<% end %>
