
<table class="table table-bordered">
  
  <thead>
    <tr>
      <th>Rule Name</th>
      <th>Charity Link</th>
      <th>Raised</th>
      <th>Action</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @rules.each do |rule| %>
      <tr>
        <td><%= rule.name %></td>

        <td>
          <%= rule.link %>
        </td>


        <td>$<%= rule.raised ? rule.raised : 0 %></td>


     <!--   <td><%= link_to 'Show', rule %></td> -->
        <td><%= link_to 'Edit', edit_rule_path(rule) %></td>
        <td><%= link_to 'Destroy', rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

