<h1>Listing rules</h1>

<table class="table table-bordered">
  
  <thead>
    <tr>
      <th>Rule Name</th>
      <th>Products</th>
      <th>Raised</th>
      <th>Action</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @rules.each do |rule| %>
      <tr>
        <td><%= rule.name %></td>

        <td><%= rule.product_ids %></td>


        <td>raised</td>


     <!--   <td><%= link_to 'Show', rule %></td> -->
        <td><%= link_to 'Edit', edit_rule_path(rule) %></td>
        <td><%= link_to 'Destroy', rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

