
<table class="table table-bordered">
  
  <thead>
    <tr>
      <th>Rule Name</th>
      <th>Products</th>
      <th>Raised</th>
      <th>Action</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @rules.each do |rule| %>
      <tr>
        <td><%= rule.name %></td>

        <td>
          <% if !rule.product_ids.nil? %>
          [products:]
          <% for pid in rule.product_ids %>
          <% for p in @products %>
            <% if p.id.to_i == pid.to_i %>
              <%= p.title %>
            <% end %>
          <% end %>  
          <% end %>
          <% end %>
          <% if !rule.collection_ids.nil?
             %>
          [collections:]
          <% for cid in rule.collection_ids %>
            <% for c in @collections %>
              <% if c.id.to_i == cid.to_i %>
                <%= c.title %>
              <% end %>
            <% end %>  
            <% end %>
          <% end %>
          <% if !rule.tags.nil? %>
          [tags:]
          <% for t in rule.tags %>
          <%= t %>
          <% end %>
          <% end %>


        </td>


        <td>$<%= rule.raised ? rule.raised : 0 %></td>


     <!--   <td><%= link_to 'Show', rule %></td> -->
        <td><%= link_to 'Edit', edit_rule_path(rule) %></td>
        <td><%= link_to 'Destroy', rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

