<br>
<div class="row">
<div class="span8 offset2">
<h3>Choose notification frequency</h3>


<br>
<!--
<%= @raised_product_ids %>

<%= @orders.first.line_items.first %>

<%= @orders.to_json %>
<%= @amounts %>
-->

<%= @shop.token %>

<p>You will get a reminder from us about how much you have to donate every</p>
<%= form_for @shop do |f| %>

<div class="controls">
              <label class="checkbox inline">
               <%= f.radio_button :frequency, 'day', :checked => true %> Day

              </label>
              <label class="checkbox inline">
               <%= f.radio_button :frequency, 'week'%> Week
              </label>
              <label class="checkbox inline">
               <%= f.radio_button :frequency, 'month'%> Month
              </label>
            </div>
            <br>
<%= f.submit "Save" %>
<% end %>
</div>
</div>