<table class="table table-bordered">
  
  <% if !@rules == [] %>
  <thead>
    <tr>
      <th>Rule</th>
      <th>Time Frame</th>
      <th>Raised</th>
      <th>Paid</th>
      <th>Have I paid or not?</th>
    </tr>
  </thead>
  <% end %>

  <tbody>
  	<% @rules.each do |rule| %>
      <% if rule.notified == true %>
      <tr>
        <td><%= rule.name %></td>
        <% if rule.starting_date.nil? %>
        <td>Permanent</td>
        <% else %>
        <td><%= rule.starting_date %> - <%= rule.ending_date %></td>
        <% end %>
        <td>
        	$<%= rule.raised ? rule.raised : 0 %>
        </td>
        <td>
          $<%= rule.paid_amount %>
        </td>
        <td> 
          <% if !rule.paid? %>
            <%= link_to 'Yes, I’ve paid', pay_rule_path(rule), :method => :post %>
          <% else %>
        	 Paid
          <% end %>
        </td>
       </tr>
       <% end %>

     <% end %>
         <% @rulepays.each do |rulepay| %>
      <tr>
        <td><%= rulepay.name %></td>
        <td><%= rulepay.starting_date %> - <%= rulepay.updated_at %></td>
        <td>
          N/A
        </td>
        <td>
          $<%= rulepay.amount %>
        </td>
        <td>
          Paid
        </td>
       </tr>
     <% end %>
   </tbody>




   </table>

