<table class="table table-bordered">
  
  <thead>
    <tr>
      <th>Rule</th>
      <th>Timeframe</th>
      <th>Amount Due</th>
      <th>Have I paid or not?</th>
    </tr>
  </thead>

  <tbody>
  	<% @rules.each do |rule| %>
      <tr>
        <td><%= rule.name %></td>

        <td><%=rule.starting_date %> - <%= rule.ending_date %>
        </td>

        <td>
        	$<%= rule.raised ? rule.raised : 0 %>
        </td>

        <td> 
          <% if !rule.paid? %>
            <%= link_to 'Pay', pay_rule_path(rule), :method => :post %>
          <% else %>
        	 Paid
          <% end %>
        </td>
       </tr>
     <% end %>
   </tbody>
   </table>
